name: CI

on:
    push:
    pull_request:

env:
    CARGO_TERM_COLOR: always
    CARGO_INCREMENTAL: 0
    CARGO_PROFILE_TEST_DEBUG: 0
    CARGO_PROFILE_DEV_DEBUG: 0
  
jobs:
    all:
        name: All
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5
            - uses: dtolnay/rust-toolchain@stable
              with:
                components: rustfmt, clippy
            - uses: Swatinem/rust-cache@v2
            - name: Update Packages
              run: sudo apt-get update -yq
            - name: Install dependencies
              run: sudo apt-get install -yq --no-install-recommends libudev-dev libasound2-dev libwayland-dev libxkbcommon-dev
            - name: Run cargo fmt
              run: cargo fmt --all -- --check
            - name: Run cargo clippy
              run: cargo clippy --all-features --all-targets -- -D warnings
            - name: Run cargo check
              run: cargo check --all-features --all-targets
            - name: Run cargo test
              run: cargo test
            - name: Run cargo bench
              run: cargo bench --bench benches -- --quick
